amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
beautifulsoup4==4.5.3
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
conda==4.5.12
cryptography==2.4.2
Django==2.2.6
django-celery==3.2.2
django-google-analytics-app==4.3.7
djangorestframework==3.10.3
idna==2.6
kombu==3.0.37
nltk==3.4.5
pipenv==2018.11.26
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
pytz==2019.1
rake-nltk==1.0.4
requests==2.18.4
ruamel-yaml==0.15.46
six==1.10.0
sqlparse==0.3.0
structlog==19.1.0
urllib3==1.22
virtualenv==16.4.3
virtualenv-clone==0.5.3
